@if(loading){
  <div class="lg:my-48 my-24 flex items-center justify-center">
    <app-loading/>
  </div>
}
@else{
<form class="space-y-4 container mx-auto px-6 md:my-12 my-8 lg:my-24" [formGroup]="postForm" (ngSubmit)="onSubmit()">
  <h1 class="mb-6 text-4xl font-bold">
    {{title}}
  </h1>
  <div>
    <label for="title" class="block text-sm font-medium text-gray-700">Titulo</label>
    <input type="text" id="title" formControlName="title"
    class="mt-1 block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm">
  </div>

  <div class="w-full">
     <quill-editor formControlName="content"></quill-editor>
  </div>

  <div>
    <label for="img" class="block text-sm font-medium text-gray-700">Imagen</label>
    <input type="file" id="img" value="imgURl" (change)="handleFileInput($event)"
    class="mt-1 block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm">
    @if(imgURL) {
       <img [src]="imgURL" alt="imagen de sala de prensa" class="w-64 mt-3">
    }
  </div>

  <div>
    <label for="date" class="block text-sm font-medium text-gray-700">Fecha</label>
    <input type="date" id="date" formControlName="updatedDate"
    class="mt-1 block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm">
  </div>

  <div>
    <label for="label" class="block text-sm font-medium text-gray-700">Categoria</label>
    <input type="text" id="label" formControlName="category"
    class="mt-1 block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm">
  </div>

  <div>
  <app-button [loading]="loadingButton">
      Editar Nota de Prensa
    </app-button>
  </div>
</form>
}
