<footer class="bg-gray-300">
  <div class="container mx-auto lg:py-10 p-5 grid grid-cols-1  lg:grid-cols-4 gap-4 justify-center">
    <div class="flex justify-center">
      <img src="../../assets/LOGO.svg" alt="Company Logo" class="object-contain h-24 w-56"/>
    </div>
    <div class="flex flex-col items-center lg:items-start">
      <h3 class="text-gray-600 font-bold mb-3 lg:text-lg">Mapa de Sitio</h3>
      <a href="#" class="text-gray-500 hover:text-red-600">Inicio</a>
      <a href="#" class="text-gray-500 hover:text-red-600">Ubicados</a>
      <a href="#" class="text-gray-500 hover:text-red-600">Nosotros</a>
    </div>
    <div class="flex flex-col items-center lg:items-start">
      <h3 class="text-gray-600 font-bold mb-3 lg:text-lg">Información de Contacto</h3>
      <p class="text-gray-500">Telefono: 4404222</p>
      <p class="text-gray-500">Dirección: Av. Paseo de la República 3121, San Isidro, Lima 27, Perú</p>
    </div>
    <div class="flex flex-col items-center lg:items-start">
      <h3 class="text-gray-600 font-bold mb-3 lg:text-lg">Síguenos en</h3>
      <div class="flex">
        <a href="https://www.facebook.com"><img src="../../assets/REDES/FACEBOOK.svg" alt="Facebook" class="h-7 w-7 object-contain mr-2"/></a>
        <a href="https://www.twitter.com"><img src="../../assets/REDES/TWITEER.svg" alt="Twitter" class="h-7 w-7 object-contain mr-2"/></a>
        <a href="https://www.linkedin.com"><img src="../../assets/REDES/linkelind.svg" alt="LinkedIn" class="h-7 w-7 object-contain mr-2"/></a>
        <a href="https://www.youtube.com"><img src="../../assets/REDES/youtube.svg" alt="YouTube" class="h-7 w-7 object-contain mr-2"/></a>
      </div>
    </div>
  </div>
</footer>

