<footer class="container-footer mt-auto">
    <div class="content-fonafe-logo">
       <img src="../../assets/LOGO.svg" width="350px" height="300px"/>
    </div>
    <div class="content-mapa-sitio-footer">
        <h3 class="descrip-mapa-sitio text bold">MAPA DE SITIO</h3>
        <div class="content-mapa-sitio-links ">
             <a class="links-footer color-tamaño"href="#">Inicio</a>
             <a class="links-footer color-tamaño"href="#">Ubicados</a>
             <a class="links-footer color-tamaño"href="#">Nosotros</a>
        </div>
    </div>
    <div class="content-info-contacto-footer">
        <h3 class="descrip-info-contacto text bold">INFORMACIÓN DE CONTÁCTO</h3>
        <div class="content-mapa-sitio-links">
             <P class="color-tamaño">Telefono: 4404222</P>
             <P  class="color-tamaño">Dirección: Av. Paseo de la República 3121, San<br/>
             Isidro, Lima 27, Perú</P>
        </div>
    </div>
    <div class="content-redes-footer">
        <h3 class="text-redes-footer bold">SIGUENOS EN</h3>
        <div class="caja-icon-redes-footer">
            <img class="icon-footer-redes" src="../../assets/REDES/FACEBOOK.svg"/>
            <img class="icon-footer-redes" src="../../assets/REDES/TWITEER.svg"/>
            <img class="icon-footer-redes" src="../../assets/REDES/linkelind.svg"/>
            <img class="icon-footer-redes" src="../../assets/REDES/youtube.svg"/>
        </div>
    </div>
</footer>
