<div class="container-maintenance">
    <div class="content-img-fito-maintenance">
       <img src="../../assets/Personaje Fito.svg" class="img-fito" alt="imagen de mantenimiento"/>
    </div>
    <div class="content-description-maintenance">
        <h4 class="titulo-maintenance">¡HOLA, SOY FITO!</h4>
        <p class="description-maintenance">
            Nuestro sitio <span>  está en construcción,    </span><br/>estamos   trabajando para brindarte la<br /> 
            mejor experiencia.<br/>  <i> ¡Volvemos pronto!</i>
        </p>
    </div>
</div>