<div class="flex overflow-hidden flex-col">
  <!--banners-->
  <div class="hidden md:flex md:flex-row md:w-screen bg-white md:justify-between md:py-8 md:px-24">
    <a class="flex items-center"  routerLink="/">
      <img class="w-52" src="../../../assets/LOGO.svg" alt="Logo" />
    </a>

    <div class="flex flex-col items-end">
      <h3 class="text-gray-500">OBSERVATORIO DIGITAL DE FONAFE</h3>
      @if (isLoggedIn) {
        <button (click)="logout()" class="text-gray-500 hover:text-black px-3 py-2 rounded-md text-sm font-medium">
          Logout
        </button>
      } @else {
        <a routerLink="/login"> <img class="w-20" src="../../../assets/BOTON_DE_INICIO.svg" alt="boton" /></a>
      }
    </div>
  </div>
  <!--boton mobile-->
  <div class="flex flex-row w-screen bg-gray-navbar justify-between items-center py-2 md:hidden">
    <a routerLink="/"><img class="w-36 pl-8" src="../../../assets/LOGO_BLANCO.svg" alt="Logo" /></a>
    <button
      (click)="handleClick()"
      class="text-gray-300 hover:text-white px-3 py-2 rounded-md text-sm font-medium pr-5 sm:pr-14"
    >
      <i class="fa-solid fa-bars"></i>
    </button>
  </div>

  <!--navs-->
  <div class="hidden md:flex md:flex-row md:flex-wrap w-screen md:bg-gray-navbar md:justify-around">
    @for (link of links; track link) {
      <a
        [routerLink]="link.url"
        routerLinkActive="bg-gray-navbarHover"
        class="text-white hover:bg-gray-navbarHover rounded-md text-sm md:text-md font-medium flex-1 text-center py-4 transition-colors duration-200"
      >
        {{ link.title }}
      </a>
    }
  </div>

  <!--navs mobile-->
  @if (showMenu) {
    <div class="md:hidden flex flex-col bg-gray-navbar space-y-1 px-2 pb-3 pt-2">
      @for (link of links; track link) {
        <a
          [routerLink]="link.url"
          class="text-gray-300 hover:text-white hover:bg-gray-700 rounded-md text-sm font-medium block py-4 text-center transition-colors duration-300"
        >
          {{ link.title }}
        </a>
      }
    </div>
  }
</div>
