<div class="w-screen h-full">
  <div
    class="relative w-full h-auto flex flex-col md:flex-row px-10 md:px-24 py-10 md:py-24"
  >
    <img
      src="../../../assets/memoria/PORTADA2.png"
      alt="Imagen de fondo"
      class="w-full h-full object-cover absolute inset-0"
    />
    <div
      class="w-full h-24 md:h-52 mt-5 relative z-10 flex flex-col justify-center"
    ></div>
  </div>
  <div class="w-full flex flex-row justify-center items-center flex-wrap px-5 ">
    <a (click)="abrirPDF('../../../assets/memoria/MEMORIADOC.pdf')" ><img class="h-10 w-64 mx-3 my-5" src="../../../assets/memoria/MEMORIA_2022.svg" alt="btn memoria 2022" /></a>
    <a ><img class="h-10 w-64 mx-3 my-5" src="../../../assets/memoria/MAS_MEMORIAS.svg" alt="mas memorias" /></a>
  </div>
</div>
