<div class="flex h-screen bg-red-600">
  <!-- Left Side -->
  <div class="flex flex-col w-1/2 items-center justify-center text-white p-10">
    <img
      src=""
      alt="Logo placeholder for FONAFE"
      class="mb-4"
    />
    <h1 class="text-2xl font-bold">CORPORACIÓN FONAFE</h1>
  </div>

  <!-- Right Side -->
  <div class="flex flex-col w-1/2 items-center justify-center bg-white p-10">
    <div class="flex justify-end w-full pr-10">
      <a routerLink="/home" ><img src="" alt="botoninicio"></a>
    </div>
    <div class="flex flex-col items-center">
      <h2 class="text-2xl font-bold mb-2">INICIAR SESIÓN</h2>
      <div class="flex gap-4 mb-4">
        <button
          class="bg-blue-600 text-white rounded-full w-10 h-10 flex items-center justify-center"
        >
          <i class="fab fa-facebook-f"></i>
        </button>
        <button
          class="bg-red-600 text-white rounded-full w-10 h-10 flex items-center justify-center"
        >
          <i class="fab fa-google"></i>
        </button>
        <button
          class="bg-blue-700 text-white rounded-full w-10 h-10 flex items-center justify-center"
        >
          <i class="fab fa-linkedin-in"></i>
        </button>
      </div>
      <div class="text-sm mb-4">o usar tu cuenta</div>
      <div class="relative mb-4">
        <i class="fas fa-user input-icon"></i>
        <input
          type="email"
          placeholder="Correo electrónico"
          class="input-field border-2 border-gray-200 rounded-full w-64 pl-10 py-2"
        />
      </div>
      <div class="relative mb-4">
        <i class="fas fa-lock input-icon"></i>
        <input
          type="password"
          placeholder="Contraseña"
          class="input-field border-2 border-gray-200 rounded-full w-64 pl-10 py-2"
        />
      </div>
      <div class="text-red-600 text-sm mb-4">¿Has olvidado la contraseña?</div>
      <button class="bg-red-600 text-white rounded-full px-16 py-2">
        INICIAR SESIÓN
      </button>
    </div>
  </div>

</div>

