<div class="flex h-screen w-screen lg:bg-red-600">
  <!-- Left Side -->
  <div class="hidden lg:flex lg:flex-col lg:w-2/5 lg:items-center lg:justify-center lg:text-white lg:p-10">
    <img src="../../assets/LOGO_BLANCO.svg" alt="Logo placeholder for FONAFE" class="mb-4 max-w-md" />
  </div>

  <!-- Right Side -->
  <div class="flex flex-col w-screen lg:w-3/5 items-center justify-center bg-white p-5">
    <div class="flex justify-end w-full pr-5 absolute right-8 top-10">
      <a routerLink="/">
        <img src="../../assets/BOTON_DE_INICIO.svg" class="w-20" alt="botoninicio" />
      </a>
    </div>
    <div class="flex flex-col w-full max-w-md justify-center items-center">
      <h2 class="text-2xl font-bold mb-4 xl:text-3xl text-center">INICIAR SESIÓN</h2>
      <div class="text-sm mb-4 xl:text-xl text-center">o usar tu cuenta</div>
      <form #loginForm="ngForm" (ngSubmit)="login(loginForm.value)" class="w-full px-4">
        <div class="relative mb-4">
          <input type="email" placeholder="Correo electrónico" name="email" ngModel #email="ngModel" required
            class="input-field border-2 border-gray-200 rounded-full w-full pl-10 py-2 pr-2 focus:outline-none" />
          @if(email.invalid && (email.dirty || email.touched)){
          <div class="text-red-500 text-xs italic">Correo
            electrónico es requerido.</div>
          }
        </div>
        <div class="relative mb-4">
          <input type="password" placeholder="Contraseña" name="password" ngModel #password="ngModel" required
            class="input-field border-2 border-gray-200 rounded-full w-full pl-10 py-2 pr-2 focus:outline-none" />
          @if(password.invalid && (password.dirty || password.touched)){
          <div class="text-red-500 text-xs italic">
            Contraseña es requerida.</div>
          }
        </div>
        <button type="submit" class="bg-red-600 text-white rounded-full w-full py-2 focus:outline-none"
          [disabled]="!loginForm.valid || loading">INICIAR SESIÓN</button>
        @if(errorMessage){
        <div class="text-center text-red-500">
          {{ errorMessage }}
        </div>
        }
      </form>
    </div>
  </div>
</div>
