<div class="w-screen">
  <div class="relative w-full h-auto flex flex-col md:flex-row px-10 md:px-24 py-10 md:py-24">
    <img src="../../../assets/proposito/banner.jpg" alt="Imagen de fondo" class="w-full h-full object-cover absolute inset-0">
    <!--<div class="bg-white bg-opacity-60 w-full h-full absolute inset-0"></div>-->
    <div class="relative z-10 w-full md:w-2/3 mr-24 text-left text-gray-600">
      <h2 class="mb-8 text-4xl font-bold text-red-600">Nuestro Proposito</h2>
    <p class="text-justify">
      Contribuir con el desarrollo social, económico y ambiental del Perú a
      través de la <strong>optimización de la gestión de las empresas de la Corporación</strong>
      que proveen servicios públicos a más de 33 millones de personas <strong>dejando
        huella de progreso y bienestar en sus vidas.</strong>
    </p>
    </div>
    <div class="w-full md:w-1/3 mt-5 relative z-10 flex flex-col justify-center">
      <img src="../../../assets/videopage/DEJANDOHUELLA.svg" alt="">
    </div>
  </div>
  <div class="mt-8 mb-4">
    <img class="w-full" src="../../../assets/proposito/b-1.png" alt="b-1">
  </div>
  <h2 class="text-sm text-red-600 ml-4 mb-4">Informacion auditada a diciembre de 2022</h2>
</div>
