<article class="container px-3 xl:px-8 mx-auto my-12">
  <header>
    <h2 class="font-bold">Financiamiento</h2>
    <h1 class="text-3xl font-bold my-4">
      Corporacion Fonafe: EDE proyectan una inversión mayor a los de S/ 670
      millones al termino del 2023
    </h1>
  </header>
  <main>
    <div>
      <figure class="img-container">
        <img src="../../../assets/IMAGEN.svg" alt="text" />
      </figure>
      <span class="text-right block mt-3">Acutalizado el 2023-12-12</span>
    </div>
    <div class="pt-8">
      <p class="block">Introduction</p>
      <p class="text-color-gray">
        Siguiendo nuestro objetivo de generar valor económico, social, ambiental
        y en nuestro propósito de generar progreso y bienestar para las familias
        de nuestro país, nuestras 11 empresas de distribución eléctrica (EDE)
        vienen trabajando incesantemente para brindar un mejor servicio.
      </p>
      <p class="text-color-gray">
        Para ello, nuestras empresas de distribución eléctrica tienen previsto
        realizar, en el 2023, inversiones FBK por un total de S/ 670.3 millones.
        En tanto, entre enero y julio del presente año han registrado un
        desembolso de S/ 366.6 millones, lo que significa haber logrado un nivel
        de ejecución de gasto del 55%.
        </p>
        <p class="text-color-gray">
        Las obras ejecutadas por las empresas de distribución eléctrica de la Corporación Fonafe en los siete primeros
        meses del año vienen mejorando la calidad de vida de más de 2 millones de personas. Las inversiones abarcan obras de diversa índole, entre las que destacan:
      </p>
      <p class="text-color-gray">
        - Ampliaciones de subestaciones eléctricas <br>
        - Implementación de líneas de transmisión <br>
        - Mejoramiento de sistemas eléctricos <br>
        - Modernización de alumbrado público <br>
        - Ampliación de redes eléctricas
    </p>
    <p class="text-color-gray">
      Ello redundará en favor de los más de 5.5 millones de clientes atendidos a la fecha a nivel nacional.
    </p>
    <p class="text-color-gray">
      Las inversiones FBK comprenden la inversión en proyectos de inversión (adquisiciones de bienes de capital,
      mejoras en activos que aumentan su productividad o vida útil) y en gastos de capital no ligados a proyectos
      (soporte a las actividades operativas, tales como infraestructura administrativa y tecnológica).
    </p>
    </div>
  </main>
</article>
<div class="container px-3 mx-auto">
  <app-card-list [posts]="posts" />
</div>
