<article class="container px-3 xl:px-8 mx-auto my-12">
  <header>
    <h2 class="font-bold">Financiamiento</h2>
    <h1 class="text-3xl font-bold my-4">Corporacion Fonafe: EDE proyectan una inversion mayot a los de S/ 670 millones
      al
      termino del 2023</h1>
  </header>
  <main>
    <div>
      <figure class="img-container">
        <img src="../../../assets/IMAGEN.svg" alt="text">
      </figure>
      <span class="text-right block mt-3">Acutalizado el 2023-12-12</span>
    </div>
    <div class="pt-8">
      <p class="block">
        Introduction
      </p>
      <p>
        In the heart of technological innovation, there's a name that's been buzzing louder than most: VoltEdge Inc.
        This
        electrical company, though relatively new in the industry, has rapidly become a synonym for innovation,
        reliability,
        and sustainability. In this blog post, we'll delve into what makes VoltEdge Inc. stand out in the crowded field
        of
        electrical companies.
      </p>
      <p>
        Rise of VoltEdge
      </p>
      <p>
        Founded in 2020, VoltEdge Inc. began as a small startup with big dreams. With a focus on sustainable energy
        solutions and smart technology, the company quickly gained recognition for its cutting-edge products and
        customer-centric approach. Their flagship product, the VoltEdge Smart Panel, revolutionized home energy
        management,
        allowing users to monitor and control their electricity usage with unprecedented precision.
      </p>
    </div>

  </main>

</article>
<div class="container  px-3  mx-auto">
  <app-card-list [posts]="posts" />
</div>
