<div class="hero flex justify-center items-center relative">
  <div class="container text-white text-center px-8">
    <h1 class="font-bold text-2xl  lg:text-5xl">Bienvenidos al Observatorio Digital de FONAFE</h1>
    <span class="mx-auto font-medium text-md lg:text-2xl block mt-3 max-w-2xl">aquí encontrarás los indicadores financieros de desempeño de la Corporación y sus empresas</span>
  </div>

</div>
<div class="container items-center justify-center mx-auto grid-cols-2 lg:grid-cols-3  xl:grid-cols-6 -mt-16 grid gap-10 xl:gap-24">
  <app-feature-icon path="/empresas-financieras" title="Empresas Financieras" src="../../../assets/BOTONES/Empresas financieras G.svg" hoverSrc="../../../assets/BOTONES/Empresas financieras.svg"/>
  <app-feature-icon path="/empresas-no-financieras" title="Empresas no Financieras" src="../../../assets/BOTONES/Empresas no financieras G.svg" hoverSrc="../../../assets/BOTONES/Empresas no financieras.svg"/>
  <app-feature-icon title="Indicadores por Sector" src="../../../assets/BOTONES/Indicadores por secto G.svg" hoverSrc="../../../assets/BOTONES/Indicadores por sector.svg"/>
  <app-feature-icon title="Indicadores por Empresa" src="../../../assets/BOTONES/Indicadores por empresas G.svg" hoverSrc="../../../assets/BOTONES/Indicadores por empresa.svg"/>
  <app-feature-icon title="Ambito de Operación" src="../../../assets/BOTONES/Ambito de operación.svg" hoverSrc="../../../assets/BOTONES/Ambito por operación.svg"/>
  <app-feature-icon path="/ficha-tecnica" title="Ficha Técnica" src="../../../assets/BOTONES/Ficha tecnica G.svg" hoverSrc="../../../assets/BOTONES/Ficha técnica.svg"/>
</div>

<app-card-list [posts]="posts" />
