<div class="container w-full mx-auto max-w-xs">
  <a [routerLink]="path"  class="block aspect-square relative group text-red-100 overflow-hidden">
    <img [src]="src" class="w-full scale-110 overflow-hidden absolute left-0 top-0 h-full object-cover"
      alt="ficha tecnica">
    <img [src]="hoverSrc"
      class="w-full group-hover:transition-opacity scale-110 overflow-hidden opacity-0 absolute h-full object-cover group-hover:opacity-100" alt="ficha tecnica">
  </a>
  <header class="text-center font-semibold text-md lg:text-lg xl:text-xl">
    {{title}}
  </header>
</div>
