/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'MuseoSans';
  src: url('./assets/fonts/museo-sans-300.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'MuseoSans';
  src: url('./assets/fonts/museo-sans-500.otf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'MuseoSans';
  src: url('./assets/fonts/museo-sans-700.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'MuseoSans';
  src: url('./assets/fonts/museosans-900.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}


.ql-container{
    line-height: 1.5;
    -webkit-text-size-adjust: 100%;
    -moz-tab-size: 4;
    tab-size: 4;
    font-family: MuseoSans, sans-serif;
    font-feature-settings: normal;
    font-variation-settings: normal;
    font-size: 1rem;



    .ql-size-small{
      font-size: .75rem;
    }
    .ql-size-large{
      font-size: 1.5rem;
    }
}
